.player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
  }
  
.react-player {
position: absolute;
top: 0;
left: 0;
 }

.container {
width:100%;

}
.innerContainer {
margin:auto;
padding:20px;
max-width:1088px;
}